<div class="row">
    <div class="col-sm-12">
        <h2>List View</h2>
        <div class="row">
            <div class="col-sm-12">
                <article class="row product-row" dir-paginate="post in posts | itemsPerPage: posts_per_page track by $index" current-page="pagination.current">
                    <div class="col-sm-8">
                        <h3>{{post.name}}</h3>
                        {{post.excerpt}}
                    </div>
                    <div class="col-sm-4">
                        <a ng-href="{{post.link}}" target="_blank">
                            <img class="img-responsive" ng-src="{{post.image_src}}" alt="Caldera Product" />
                        </a>
                        <a class="btn btn-primary btn-block" ng-href="{{post.link}}" target="_blank">View</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>